* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    font-family: 'Lato', helvetica, arial, sans-serif;
    font-size: 16px;
    color: #222;
}

div.wrapper {
    background-color: #ededed;
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 35px;
    border-bottom: 2px solid #cf8a05;
}

div.details {
    margin-left: auto;
}

.profile_image {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

div.name {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.name span:first-child {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

div.name span:last-child {
    font-size: 1.5em;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif
}

div.details {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    align-self: flex-start;
    color: #444;
}

div.main {
    padding: 0 40px;
}

div.section {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
}

div.section .label {
    width: 25%;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: #cf8a05;
}

div.section .content-wrapper {
    width: 75%;
}

div.section .content span.text {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #444;
}

div.section .content span.title {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: -2px;
}

div.section .content span.date {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
}

div.skills {
    display: flex;
    justify-content: space-between;
}

span.keyword {
    font-weight: bold;
}

div.row {
    margin-bottom: 10px;
}

div.social {
    margin-left: 10px;
    width: 33%;
    display: inline-flex;
    flex: 0 1 0%;
}

.social-icon {
    width: 60px;
    height: 60px;
}

.social-nickname {
    margin-left: 6px;
    font-weight: bold;
    position: relative;
    transform: translateY(30%);
}